:root {
    --primary-color: #6c533d;
    --pt-color: #c2b5ae;
    --w-color: #fff;
    --bg-color: #f8f8f8;
}

.inner {
    max-width: 1170px;
    margin: 0 auto;
}


.title {
    max-width: 1170px;
    margin: 0 auto;

    margin-bottom: 40px;
}